@media (max-width:1200px) 
    .container
        max-width: 960px
    .swiper
        width: 600px
    .slide
        &-image
            height: 100%
    .card
        width: 230px
        height: 230px
@media (max-width:992px)
    .container, .newsletter__wrapper
        max-width: 700px
    .logo
        width: 132px
    .navbar
        &-top
            padding-top: 30px
            padding-bottom: 30px
            
        &-menu
            padding-top: 22px
            padding-bottom: 22px
            &__link
                font-size: 12px
                line-height: 15px
    .search
        &__input
            margin-right: auto
            width: 340px
    
    .hotel
        &-grid
            flex-direction: column
        &__swiper
            margin-bottom: 20px
        &-right
            display: flex
            flex-direction: row
            justify-content: space-between
    .booking
        width: 340px
    .map
        width: 340px   
    .swiper
        width: 100%
        height: 100%

        &-slide
            &__image
                object-fit: cover
    .activities
        &-wrapper
            flex-wrap: wrap
        &__card
            margin-bottom: 20px
    .card
        width: 340px
        height: 230px
    .other-packages
        &-grid    
            grid-template-columns: repeat(2, 350px)
@media (max-width:768px)
    .container
        max-width: 576px
        width: 92%
    .navbar
        &__search, &-menu, &__user
            display: none
    .navbar
        &-top
            &__menu-button
                display: flex
    .menu
        &-button
            height: 11px
            width: 16px
            padding: 0
            align-items: center
            justify-content: space-between
            flex-direction: column
            border: none
            cursor: pointer
            background-color: $white
            &__line
                width: 16px
                height: 1px
                background-color: $text-color

    
    .hotel-info
        &__rating
            display: none
        &__offer
            order:-1
            margin-left: 0

    .hotel
        &-right
            display: flex
            flex-direction: column
            justify-content: space-between
            align-items: center
            min-height: 450px

    .reviews
        &__title
            font-size: 30px
            line-height: 38px
        &-slider
            &__item
                max-width: 579px

    .swiper
        &-wrapper
            height: auto
    .booking
        width: 100%
        // margin-bottom: 20px
    .map
        width: 100%
        &__frame
            width: 100%
    .newsletter
        &__wrapper
            max-width: 576px
            width: 92%
            flex-direction: column
            align-items: flex-start
    .card
        width: 45%
        height: 255px
    .other-packages
        display: none

@media (max-width: 576px)
    .logo
        width: 99px
    .hotel
        &__slider
            margin-bottom: 20px
    .newsletter
        padding: 76px 0 83px 0
        &-title
            font-size: 20px
            line-height: 25px
            &__strong
                font-size: 30px
                line-height: 38px
        &__title
            padding-bottom: 37px
    .reviews
        &__title
            font-size: 18px
            line-height: 23px
        &-slider
            &__button
                top: 45px
                &--prev
                    left: 50%
                    transform: translate(-50%, 0)
                    margin-left: -65px
                &--next
                   right: 50%
                   transform: translate(50%, 0)
                   margin-right: -65px
            &__item
                max-width: 281px
                padding: 0 30px 30px
                &::after, &::before
                    display: none
    .subscribe
        width: 280px
    .activities
        padding: 40px 0 60px 0
    .card
        width: 100%

